<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for item in faqs %}
    {
      "@type": "Question",
      "name": {{ item.question | dump | safe }},
      "acceptedAnswer": {
        "@type": "Answer",
        "text": {{ item.answer | dump | safe }}
      }
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
</script>
