---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for item in collections.all %}
{%- set itemLang = item.data.lang or 'en' %}
{%- if itemLang != 'en' %}
  {%- set itemBasePath = item.url | replace('/' + itemLang + '/', '/') %}
{%- else %}
  {%- set itemBasePath = item.url %}
{%- endif %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ itemBasePath }}"/>
{%- for lang in site.languages %}
{%- if lang == 'en' %}
    <xhtml:link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}{{ itemBasePath }}"/>
{%- else %}
    <xhtml:link rel="alternate" hreflang="{{ lang }}" href="{{ site.url }}/{{ lang }}{{ itemBasePath }}"/>
{%- endif %}
{%- endfor %}
  </url>
{%- endfor %}
</urlset>
